* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ul.gallery {
        margin-top: 250px;
        // background-color: red;
        width: 600px;
        height: 150px;
        // display: flex
        position: relative;

        // position: absolute;
        // transform: translate(-50%, -50%);
        // top: 50%;
        // left: 50%;
        list-style-type: none;
        // transform: translateY(-50%);

        > li.item {
            display: flex;
            transform: rotate(45deg);
            position: absolute;
            width: 200px;
            height: 200px;
            object-fit: cover;
            background-position: center;
            margin: -100px;
            opacity: 0.6;
            transition: 0.4s ease;

            &:hover {
                opacity: 1;
                border: 2px 2px 2px #2f446b;
            }

            &.img1 {
                background-image: url("https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
                top: 0;
                left: 0;
            }
            &.img2 {
                background-image: url("https://images.unsplash.com/photo-1629103257407-6eee51452cbd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80");
                bottom: 0;
                left: 25%;
            }
            &.img3 {
                background-image: url("https://images.unsplash.com/photo-1546485299-dbe97f7454ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=338&q=80");
                top: 0;
                left: 50%;
            }
            &.img4 {
                background-image: url("https://images.unsplash.com/photo-1617720938355-197f10fed732?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80");
                bottom: 0;
                left: 75%;
            }
            &.img5 {
                background-image: url("https://images.unsplash.com/photo-1596760020761-7b5b17e57385?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
                top: 0;
                left: 100%;
            }
        }
    }
}
